

@font-face {
    font-family: 'Bella Heavy';
    src: url('../fonts/Bella_Heavy.eot');
    src: url('') format('embedded-opentype'),
         url('../fonts/Bella_Heavy.woff2') format('woff2'),
         url('../fonts/Bella_Heavy.woff') format('woff'),
         url('../fonts/Bella_Heavy.ttf') format('truetype'),
         url('http://modpreview.com/MOD-Site-2016/fonts/bella-heavy/f37bellaheavy-webfont.svg#f37bellaheavyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//Variables
//
//font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;

$heading: normal normal 200 5rem/4.375rem 'Bella Heavy'; // for macbook 11"-13"
$xl-heading: normal normal 200 9rem/8.375rem 'Bella Heavy'; // for xl destops
$mp-heading: normal normal 200 5.5rem/4.8125rem 'Bella Heavy'; // for macbook 15"
$lg-heading: normal normal 200 3.625rem/3rem 'Bella Heavy'; //for horizontal ipads

$av-light: normal normal 200 0.8125rem/1rem 'Avenir W01'; // for macbook 11"-13"
$xl-av-light: normal normal 200 1.375rem/1.5625rem 'Avenir W01'; // for xl destops
$mp-av-light: normal normal 200 0.91rem/1.12rem 'Avenir W01'; // for macbook 15"
$lg-av-light: normal normal 200 0.7125rem/0.9rem 'Avenir W01'; //for horizontal ipads


$av-black: normal normal 800 0.8125rem/1rem 'Avenir W01'; // for macbook 11"-13"
$xl-av-black: normal normal 800 1.3125rem/1.5625rem 'Avenir W01'; // for xl destops
$mp-av-black: normal normal 800 0.91rem/1.12rem 'Avenir W01'; // for macbook 15"
$lg-av-black: normal normal 800 0.7125rem/0.9rem 'Avenir W01'; //for horizontal ipads

$paragraph: normal normal 200 1.875rem/2.25rem 'Avenir W01';
$xl-paragraph: normal normal 200 3.02937rem/3.635rem 'Avenir W01';