/* =Variables
-------------------------------------------------------------- */

/* Colors */
$icon-color: #ff0000;
$primary-color: #ff0000;

$base-background-color:#000000;
$darker: #d1cec6;
$lighter: #d1cec6;


$white: #ffffff;



//Grey
$grey: #f5f6f7;


//Black
$black: #000;

$error: #c0392b;
$info: #2980b9;
$alert: #f39c12;
$success: #27ae60;



//Fonts
$title: 'Bella';
$content: 'Avenir Next';

$bold: 700;
$stencil: 900;
$reg: 400;

