div#main{
	width: 100%;
	height: 100%;

	div.container{
		width: 100%;
		height:100%;
		margin: 0;

		div.global-background{
			@include media($mobile){
				@include position(fixed, 0 0 0 0);
				z-index: -1;
				width: 100%;
				height: 100%;
				background-size: cover;	
				display: inherit;
			}
			
		}
		.top-rectangle{
			height: 2%;
			@include position(fixed, 0 0 0 0);
				background-color: black;
				display:block;
				width: 500vw;
			
			@include media($xl-min){
				height: 2%;
			}
			@include media($lg-max){
				@include position(fixed, 0 0 0 0);
				background-color: black;
				display:block;
				width: 100%;
				height: 15%;
			}
			@include media($rg-max){
				height:25%;
			}	
		}
		#video_background {
			@include position(fixed, 0 0 0 0);
			z-index: -1000;
			display: inherit;
			width: 100%;
			min-height: 100%;
			width:180%;
			@include filter(grayscale(100%) contrast(50%));
			@include media($mobile){
				display:none;	
			}
			
		}

	}
}