.slides{
	overflow: hidden;
	position: relative;
	
	.slide-bg{
		background-image: url('../images/MOD_Letters_Black.svg');
		background-repeat: no-repeat;
		@include position(fixed, 0 0 0 0);
		width:300%;
		height: 100%;
		z-index: -1;
		background-size: 3790px;
		@include media($xl-desktop){
			background-size: 6310px;
		}
		@include media($macbook-pro-13){
			background-size: 3330px;
		}
		
		@include media($v-ipad-max-screen){
			background-size: 3450px;
		}
		@include media($h-ipad-max-screen){
			background-size: 2890px;
		}
		@include media($v-iphone-6-plus){
			background-size: 1900px;
		}
		@include media($v-iphone-5){
			background-size: 1500px;
		}
		&:before{
			content:'';
			display: block;
			height:2.5vh;
			width: 300%;
			background: black;
			@include position(fixed, 0 0 null 0);
			
			@include media($h-ipad-max-screen){
				height:2.5vh;
			}
			@include media($v-iphone-6-plus){
				height:120px;
			}
			@include media($v-iphone-6){
				height:100px;
			}
			@include media($v-iphone-5){
				height: 80px;
			}
			

		}
		&:after{
			content:'';
			display: block;
			height: 2.5vh;
			width: 300%;
			background: black;
			@include position(fixed, null 0 0 0);

			@include media($h-ipad-max-screen){
				height: 2.5vh;
			}

			@include media($v-iphone-6-plus){
				height:30px;
			}			
		}
	}

	.slide{
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		z-index: 4;
	}

	.hide-letters{
		@include position(fixed, 0 0 0 0);
		width:100%;
		height: 100%;
		z-index: 3;

	}

	.slide-info{
		@include position(fixed, 48.5vh null null 5.468vw);
		z-index: 999;
		
		@include media($xl-desktop){
			left: 10.068vw;
		}
		@include media($most-common-screen){
			left: 5.468vw;
		}
		@include media($macbook-pro-13){
			left: 5.468vw;
		}
		@include media($h-ipad-max-screen){
			left: 5.468vw;
		}
		@include media($v-iphone-6-plus){
			top:27%;
			width:60.5%;
		}
		@include media($v-iphone-6){
			top:22%;
		}
		@include media($v-iphone-5){
			top:22%;
		}
		.slide-title{
			
			vertical-align: top;
			display: inline-block;
		}
		.slide-subtext{
			display:inline-block;
			vertical-align: top;
			margin-left: 2.03vw;
			margin-top: 0px;
			
			@include media($v-iphone-6-plus){
				width:100%;
			}
			h2{
				margin-bottom: 15px;
			}
			p{
				max-width: 18.81vw;
				margin-top: 5vh;

				@include media($h-ipad-max-screen){
					max-width: 23.81vw;
				}

			}
			
		}

		.slide-btn{
			witdh: 2.52vw;
			height: 2.52vw;
			margin-top: 18px;
			cursor: pointer!important;
			display: block;

			@include media($h-ipad-max-screen){
				witdh: 25px;
				height: 25px;
			}

		}

	}
	#slide-mod, .slide-0{
		
		.slide-title{
			img.logo{
				width: 238px;	
			}
			
		}

	}
	#slide-objective, .slide-1{

	}

	#slide-distinct, .slide-2{
		
		
	}
}

// #slide-objective, #slide-distinct{
// 	.slide-subtext{
// 		margin-left: 44px;
// 		@include media($v-ipad-max-screen){
// 			margin-left:0;
// 		}
// 	}
// 	.slide-btn{
// 		margin-left: 144px;
// 		@include media($v-ipad-max-screen){
// 			margin-left:0;
// 		}
// 	}
// }
// #slide-contact{
// 	.slide-info{
// 		&:before{
// 			display: none!important;
// 		}
// 	}
// }
