#preloader {
  @include position(fixed, 0 0 0 0);
  width: 100%;
  height: 100%;
  z-index: 1001;
  margin:0 auto;
  color: black;
}
  #preloader .txt {
     margin: 0 auto;
     width: 50%;
     @include media($v-ipad-max-screen){
        width:65%;
      }
  }
  #preloader{
    div.mod-loading-container{
      margin: 0 auto;
      margin-top: 47.25vh;
      width:125px;
      max-width:125px;
      height:74px;
      position: relative;

      img.mod-loading{
        width:100%;
        
        z-index: 1003;
      }

     div.progress {
        width: 121px;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.15);
        margin: 0 auto;
        margin-top: 15px;
        @include position(absolute, null 0 0 0);
        z-index: 1002;
        span {
          display: block;
          width: 121px;
          height: 2px;
          margin: 0 auto;
          background-color: black; }
        }
      }
    // .txt-perc {
    //   font-size: 20px;
    //   font-family: $content;
    //   color: black;
    //   opacity: 1;
    //   @include position(absolute, 59vh 0 0 0);
    //   margin: 0 auto;
    //   max-width: 400px;
    //   text-align: center; 
    //   @include media($xl-desktop){
    //     top: 54vh
    //   }
    // }
  }

#preloader.is-hidden {
  visibility: hidden;
  opacity: 0; 
}

.is-loading {
  overflow: hidden; 
}

.loader-section.section-left {
        background-color: #fff;
        width: 50%;
        height:100%;
         @include position(fixed, 0 null null 0);
    }

.loader-section.section-right {
        background-color: #fff;
        width:50%;
        height: 100%;
         @include position(fixed, 0 0 null null);
    }

