@charset "UTF-8";
/* Base Styling */
/* =Variables
-------------------------------------------------------------- */
/* Colors */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  border-radius: 0px;
  color: white;
  display: inline-block;
  font-size: 2rem;
  font-family: 700 !important;
  line-height: 1;
  padding: 0.5em 0em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: 4px solid white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.25;
  margin: 0; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: white;
  text-decoration: none;
  outline: 0 !important; }
  a:hover {
    color: white; }
  a:active, a:focus {
    color: white;
    outline: none; }
  a:visited {
    color: white; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul {
    list-style-type: disc;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
  ol {
    list-style-type: decimal;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: .9px solid white;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

body {
  background: black !important;
  color: white;
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: 0 auto; }

div.careers-heading {
  height: 100vh;
  position: relative; }
  div.careers-heading #mod-logo {
    padding: 30px;
    width: 70%;
    margin: 30vh auto;
    text-align: center;
    max-width: 600px;
    margin-bottom: 0; }
  div.careers-heading h1 {
    font-family: 'Avenir Next';
    font-size: 2.5rem;
    letter-spacing: 1.5rem;
    margin-top: -10px;
    font-weight: 300;
    font-smoothing: 100%;
    text-align: center; }
  div.careers-heading img#down-arrow {
    margin: 0 auto;
    width: 70px;
    position: absolute;
    right: 0;
    bottom: 15vh;
    left: 0;
    cursor: pointer;
    opacity: .85; }

/* Components */
a, a:hover, button, button:hover, input[type="submit"], input[type="submit"]:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.btn-default, input[type="submit"] {
  border-radius: 0px;
  height: 60px;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-family: 700;
  cursor: pointer;
  text-transform: uppercase;
  width: 395px;
  text-align: center; }
  .btn-default:hover, input[type="submit"]:hover {
    text-decoration: none; }
  .btn-default:focus, input[type="submit"]:focus {
    outline: none; }
  @media screen and (max-width: 767px) {
    .btn-default, input[type="submit"] {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%; } }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 21, 2015 */
@font-face {
  font-family: 'Bella';
  src: url("../fonts/f37bella-webfont.eot");
  src: url("../fonts/f37bella-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/f37bella-webfont.woff2") format("woff2"), url("../fonts/f37bella-webfont.woff") format("woff"), url("../fonts/f37bella-webfont.ttf") format("truetype"), url("../fonts/f37bella-webfont.svg#f37_bellaregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Bella';
  src: url("../fonts/bella-heavy/f37bellaheavy-webfont.eot");
  src: url("../fonts/bella-heavy/f37bellaheavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bella-heavy/f37bellaheavy-webfont.woff2") format("woff2"), url("../fonts/bella-heavy/f37bellaheavy-webfont.woff") format("woff"), url("../fonts/bella-heavy/f37bellaheavy-webfont.ttf") format("truetype"), url("../fonts/bella-heavy/f37bellaheavy-webfont.svg#f37bellaheavyregular") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Bella';
  src: url("../fonts/f37bellastencil-webfont.eot");
  src: url("../fonts/f37bellastencil-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/f37bellastencil-webfont.woff2") format("woff2"), url("../fonts/f37bellastencil-webfont.woff") format("woff"), url("../fonts/f37bellastencil-webfont.ttf") format("truetype"), url("../fonts/f37bellastencil-webfont.svg#f37bellastencilregular") format("svg");
  font-weight: 900;
  font-style: normal; }
/* Layouts */
.header {
  padding-top: 20px;
  margin-bottom: 87px; }
  @media screen and (max-width: 767px) {
    .header {
      padding-top: 20px;
      margin-bottom: 64px; } }
  .header .link-logo {
    margin-left: 5px; }

.header-logo {
  display: inline-block;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background-size: cover;
  height: 23px;
  width: 96px;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain; }
  @media screen and (max-width: 767px) {
    .header-logo {
      height: 18px; } }

@media screen and (max-width: 767px) {
  #sub-pg-header {
    width: 90%;
    margin-left: auto;
    margin-right: auto; } }

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

section {
  height: 100%; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
  height: auto;
  max-height: 100%;
  max-width: 100%; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: 400;
  /* 1 */
  font-size: 1.755rem;
  /* 2 */
  margin: 0;
  /* 3 */
  color: rgba(255, 255, 255, 0.95); }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  resize: none;
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
  text-align: center; }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =Structure/Scaffolding
-------------------------------------------------------------- */
html {
  background-color: white;
  text-rendering: optimizeLegibility; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  color: #fff;
  font-family: "Avenir Next";
  background-color: #000; }

.wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

ul {
  padding-left: 0px; }

@media screen and (max-width: 767px) {
  section {
    height: 80vh;
    overflow-y: auto; } }

ul.career-categories-list {
  width: 100%;
  color: black;
  height: 100vh;
  padding-top: 20vh;
  padding-left: 10vw;
  list-style: none;
  background: white; }
  ul.career-categories-list li.career-category {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3.5rem;
    text-align: left;
    letter-spacing: -.2rem;
    line-height: 4rem; }
  ul.career-categories-list li#category-heading {
    font-weight: 700;
    font-size: 4rem;
    line-height: 7rem; }

/* =Typography
-------------------------------------------------------------- */
html {
  font-size: 100%; }

body {
  font-size: 20px; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  float: none;
  line-height: 1.25em;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: "Bella";
  cursor: default; }
  h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    clear: both;
    content: "";
    display: table; }
  h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    text-decoration: none; }
    h1 a:hover, h1 a:visited:hover, h2 a:hover, h2 a:visited:hover, h3 a:hover, h3 a:visited:hover, h4 a:hover, h4 a:visited:hover, h5 a:hover, h5 a:visited:hover, h6 a:hover, h6 a:visited:hover {
      text-decoration: underline; }

.productions-h1 {
  color: #fff; }
  @media screen and (max-width: 767px) {
    .productions-h1 {
      font-size: 5rem;
      margin-top: 6.5rem;
      line-height: 5rem; } }
  @media screen and (min-width: 768px) {
    .productions-h1 {
      font-size: 5.75rem !important; } }
  @media screen and (min-width: 1011px) {
    .productions-h1 {
      font-size: 8.25rem !important; } }

@media screen and (max-width: 767px) {
  h1 {
    font-size: 5rem;
    margin-top: 6.5rem;
    line-height: 5rem; } }
@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem; } }
@media screen and (min-width: 1011px) {
  h1 {
    font-size: 8.71687rem; } }
h1 span {
  vertical-align: middle;
  padding-left: 3px;
  padding-right: 3px; }
  @media screen and (min-width: 768px) {
    h1 span {
      font-size: 12rem; } }
  @media screen and (min-width: 1011px) {
    h1 span {
      font-size: 15.1531rem; } }

h2 {
  font-family: 700; }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 1.6rem;
      width: 90%;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 1.35rem;
      letter-spacing: .05rem; } }
  @media screen and (min-width: 1011px) {
    h2 {
      font-size: 1.875rem;
      letter-spacing: 0; } }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  font-size: 1.5rem;
  line-height: 3.5rem;
  letter-spacing: .1rem;
  font-family: 400; }

#calendar span {
  font-family: 400; }

@media screen and (max-width: 767px) {
  #our-story p, #donate p, #about-us p {
    padding: 15px; } }

@media screen and (max-width: 767px) {
  #about-us p {
    margin-top: 3.125rem; } }

blockquote {
  background-color: #f9f9f9;
  border-left: solid 5px #ff0000;
  font-style: italic;
  padding: 20px; }

cite {
  font-style: italic; }

strong, b {
  font-size: 20px;
  color: #000;
  font-family: "Bella"; }

a, a:visited {
  font-family: 700;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: black; }
  a:hover, a:visited:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5); }

.entry-title {
  font-family: "Bella";
  text-align: center; }
  @media screen and (min-width: 200px) {
    .entry-title {
      font-size: 40px; } }
  @media screen and (min-width: 480px) {
    .entry-title {
      font-size: 65px; } }
  @media screen and (min-width: 768px) {
    .entry-title {
      font-size: 100px; } }

#primary,
#secondary {
  font-family: "Avenir Next"; }

@media screen and (min-width: 768px) {
  .nav-desktop a, .nav-desktop a:visited {
    font-size: 1.35rem;
    padding: 0 !important; } }
@media screen and (min-width: 1011px) {
  .nav-desktop a, .nav-desktop a:visited {
    font-size: 1.41125rem;
    padding: 0 !important; } }

@media screen and (max-width: 767px) {
  #bg-h2c h1 {
    font-size: 4rem;
    margin-top: 6.5rem;
    line-height: 5rem; }
    #bg-h2c h1 span {
      font-size: 4.5rem;
      line-height: 5rem; } }

@media screen and (max-width: 767px) {
  .left {
    width: 100%;
    display: block;
    padding: 10px; } }
@media screen and (min-width: 768px) {
  .left {
    width: 49%;
    float: left;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 767px) {
  .right {
    width: 100%;
    display: block;
    padding: 10px; } }
@media screen and (min-width: 768px) {
  .right {
    width: 49%;
    float: right;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 767px) {
  .left, .right {
    text-align: center; } }
@media screen and (min-width: 768px) {
  .left, .right {
    text-align: left; } }
.left h1, .left h2, .left h3, .left h4, .left p, .left button, .left a, .left input, .right h1, .right h2, .right h3, .right h4, .right p, .right button, .right a, .right input {
  display: block;
  margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    .left h1, .left h2, .left h3, .left h4, .left p, .left button, .left a, .left input, .right h1, .right h2, .right h3, .right h4, .right p, .right button, .right a, .right input {
      margin-left: 50px; } }
.left a:hover, .right a:hover {
  border: none;
  text-decoration: underline; }
.left h1, .right h1 {
  font-family: "Bella";
  font-size: 3.1875rem;
  line-height: 5.5625rem;
  letter-spacing: .1rem; }
.left h2, .right h2 {
  font-family: "Bella";
  font-size: 1.9375rem;
  line-height: 3.3625rem;
  letter-spacing: .1rem;
  text-transform: uppercase; }
.left a, .left h3, .right a, .right h3 {
  font-family: 400;
  font-size: 1.4375rem;
  letter-spacing: .1rem; }
  .left a span, .left h3 span, .right a span, .right h3 span {
    margin-left: 20px;
    font-family: 700; }

.divider {
  background-color: white; }
  @media screen and (max-width: 767px) {
    .divider {
      width: 80%;
      height: 3px;
      margin: 5px auto; } }
  @media screen and (min-width: 768px) {
    .divider {
      width: 3px;
      height: 65%;
      float: left; } }

@media screen and (min-width: 768px) {
  #auditions .left h1, #auditions .left p {
    margin-left: 0px !important; } }

/* Mixins */
@-webkit-keyframes pulse-animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@-moz-keyframes pulse-animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@keyframes pulse-animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeInScale {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }
@-moz-keyframes fadeInScale {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }
@keyframes fadeInScale {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }
@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(0px); }
  to {
    -webkit-filter: blur(10px); } }
@-moz-keyframes blur {}
@keyframes blur {
  from {
    -webkit-filter: blur(0px);
    filter: blur(0px); }
  to {
    -webkit-filter: blur(10px);
    filter: blur(10px); } }
@-webkit-keyframes blurOut {
  from {
    -webkit-filter: blur(10px); }
  to {
    -webkit-filter: blur(0px); } }
@-moz-keyframes blurOut {}
@keyframes blurOut {
  from {
    -webkit-filter: blur(10px);
    filter: blur(10px); }
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px); } }
@-webkit-keyframes slidein {
  0% {
    right: -800px; }
  100% {
    right: 0; } }
@-moz-keyframes slidein {
  0% {
    right: -800px; }
  100% {
    right: 0; } }
@keyframes slidein {
  0% {
    right: -800px; }
  100% {
    right: 0; } }
@-webkit-keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }
@-moz-keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }
@keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }
.pulse {
  -webkit-animation: pulse-animation 5s linear infinite;
  -moz-animation: pulse-animation 5s linear infinite;
  animation: pulse-animation 5s linear infinite;
  -webkit-transform-origin: 70% 70%;
  -moz-transform-origin: 70% 70%;
  -ms-transform-origin: 70% 70%;
  -o-transform-origin: 70% 70%;
  transform-origin: 70% 70%; }

.spin {
  -webkit-animation: spin 7s linear;
  -moz-animation: spin 7s linear;
  animation: spin 7s linear; }

.fade-out {
  -webkit-animation: fadeOut 2s linear;
  -moz-animation: fadeOut 2s linear;
  animation: fadeOut 2s linear;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.fade-in {
  -webkit-animation: fadeIn 2s linear;
  -moz-animation: fadeIn 2s linear;
  animation: fadeIn 2s linear;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.fadeIn-scaleUp {
  -webkit-animation: fadeInScale 1s linear;
  -moz-animation: fadeInScale 1s linear;
  animation: fadeInScale 1s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.blur {
  -webkit-animation: blur 1s linear;
  -moz-animation: blur 1s linear;
  animation: blur 1s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 1; }

.slide-in {
  -webkit-animation: slidein 1s linear;
  -moz-animation: slidein 1s linear;
  animation: slidein 1s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.slide-in-reverse {
  -webkit-animation: slideinreverse 1s linear;
  -moz-animation: slideinreverse 1s linear;
  animation: slideinreverse 1s linear;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

textarea::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  -webkit-transition: opacity 0.2s linear; }

textarea:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder, input[type="search"]:focus::-webkit-input-placeholder, input[type="text"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder {
  opacity: 0; }

/* Kumya */
.link--kumya:hover {
  color: #242424; }

.link--kumya::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #242424;
  -webkit-transform: translate3d(101%, 0, 0);
  transform: translate3d(101%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.link--kumya:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.link--kumya li {
  display: block;
  position: relative; }

.link--kumya li::before {
  content: attr(data-letters);
  position: absolute;
  color: #fff;
  background: #000;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.link--kumya:hover li::before {
  width: 43%; }

@-webkit-keyframes pulse-animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@-moz-keyframes pulse-animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@keyframes pulse-animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeInScale {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }
@-moz-keyframes fadeInScale {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }
@keyframes fadeInScale {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }
@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(0px); }
  to {
    -webkit-filter: blur(10px); } }
@-moz-keyframes blur {}
@keyframes blur {
  from {
    -webkit-filter: blur(0px);
    filter: blur(0px); }
  to {
    -webkit-filter: blur(10px);
    filter: blur(10px); } }
@-webkit-keyframes blurOut {
  from {
    -webkit-filter: blur(10px); }
  to {
    -webkit-filter: blur(0px); } }
@-moz-keyframes blurOut {}
@keyframes blurOut {
  from {
    -webkit-filter: blur(10px);
    filter: blur(10px); }
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px); } }
@-webkit-keyframes slidein {
  0% {
    right: -800px; }
  100% {
    right: 0; } }
@-moz-keyframes slidein {
  0% {
    right: -800px; }
  100% {
    right: 0; } }
@keyframes slidein {
  0% {
    right: -800px; }
  100% {
    right: 0; } }
@-webkit-keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }
@-moz-keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }
@keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }
/* Modules */
body {
  width: 100%;
  height: 100%; }

aside.sidebar {
  position: fixed;
  top: 100px;
  left: 50px;
  width: 300px;
  text-align: left; }
  aside.sidebar img.logo {
    width: 130px;
    margin: 0;
    text-align: left; }
  aside.sidebar h1.statement {
    font-size: 21px;
    font-family: 'Avenir Next';
    font-weight: 400;
    line-height: 28px;
    width: 80%;
    margin-top: 130px; }

div.right-sidebar {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 200px;
  background: black;
  color: white;
  text-align: right;
  font-size: .95rem;
  line-height: 1.35rem; }
  div.right-sidebar a.a-side {
    color: white !important; }
  div.right-sidebar ul.social-media {
    list-style: none; }
  div.right-sidebar a#career-email {
    margin-left: -50px; }
  div.right-sidebar .address {
    margin-bottom: 20px; }

section#jobs {
  width: 100%;
  padding-left: 380px;
  padding-right: 80px;
  height: 100%;
  font-family: 'Avenir Next';
  text-align: left;
  padding-top: 100px;
  background: black; }
  section#jobs h2, section#jobs h3, section#jobs h4 {
    font-family: 'Avenir Next';
    font-weight: 700; }
  section#jobs ul#jobs-list {
    color: white;
    list-style: none;
    margin-top: 150px;
    max-width: 770px; }
    section#jobs ul#jobs-list li.individual-job {
      color: white !important;
      border-bottom: dotted white 1px;
      padding-bottom: 15px;
      margin-bottom: 40px; }
      section#jobs ul#jobs-list li.individual-job .job-title {
        font-size: 2rem; }
      section#jobs ul#jobs-list li.individual-job p {
        font-size: .95rem;
        font-weight: 400;
        line-height: 1.35rem; }
      section#jobs ul#jobs-list li.individual-job .description-title-question, section#jobs ul#jobs-list li.individual-job h4 {
        font-size: .95rem;
        line-height: 1.35rem; }
      section#jobs ul#jobs-list li.individual-job ul.responsibilities-list, section#jobs ul#jobs-list li.individual-job ul.musts-list {
        padding-left: 50px; }
        section#jobs ul#jobs-list li.individual-job ul.responsibilities-list h4, section#jobs ul#jobs-list li.individual-job ul.musts-list h4 {
          margin-left: -50px; }
        section#jobs ul#jobs-list li.individual-job ul.responsibilities-list li, section#jobs ul#jobs-list li.individual-job ul.musts-list li {
          font-size: .95rem;
          font-weight: 400;
          line-height: 1.35rem; }
      section#jobs ul#jobs-list li.individual-job a.apply-btn {
        background: white;
        border-radius: 10px;
        color: black;
        font-family: 'Avenir Next';
        font-weight: 700;
        font-size: 14px;
        padding: 5px 10px; }

/* States */
.is-active {
  display: inherit;
  opacity: 1 !important; }

.is-inactive {
  display: none;
  opacity: 0; }

.is-visible {
  opacity: 1;
  visibility: visible; }

.is-hidden {
  opacity: 0;
  visibility: hidden; }

.is-disabled {
  opacity: .5;
  cursor: default; }
  .is-disabled:hover {
    cursor: default !important; }
  .is-disabled a {
    cursor: default; }
    .is-disabled a:hover {
      cursor: default !important;
      border: none !important; }

.is-enabled {
  opacity: 1;
  cursor: pointer; }
  .is-enabled:hover {
    cursor: pointer; }

.is-scrollable {
  overflow: auto !important; }

a.no-decoration, a:hover.no-decoration {
  text-decoration: none !important;
  border: none !important; }

.fixed-to-bottom {
  position: fixed;
  bottom: 0; }

.fixed-right {
  right: 0; }

.fixed-left {
  left: 0; }

.bg-white {
  background-color: white; }

.bg-black {
  background-color: black; }

@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none; } }

/*# sourceMappingURL=style.css.map */
